Copy and paste the snippet below at the bottom of your HTML, before other script tags.

<script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAnOtm-BBGemaE6zVuHdAsGPv74jAja8HE",
    authDomain: "billo-dc14a.firebaseapp.com",
    databaseURL: "https://billo-dc14a.firebaseio.com",
    projectId: "billo-dc14a",
    storageBucket: "billo-dc14a.appspot.com",
    messagingSenderId: "958595540779"
  };
  firebase.initializeApp(config);
</script>