{% extends "base.html" %}

{% block featured_content %}
<section class="container" id="login">
<h3> Login </h3>
<div class="row">
	<form class="col s12">
	  <div class="row">
	    <div class="input-field col s12">
	      <input id="username" type="text" class="validate">
	      <label for="username">Username</label>
	    </div>
	  </div>
	  <div class="row">
	    <div class="input-field col s12">
	      <input id="password" type="password" class="validate">
	      <label for="password">Password</label>
	    </div>
	  </div>
	  <div class="row">
	  	<div class="input-field col s12">
	  		<input type="submit" value="Submit" />
	  	</div>
	  </div>
	</form>
</div>
</section>
{% endblock %}